{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": false,
          "targets": "> 0.15%, not dead"
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": false
      }
    ]
  ]
}
