name: $(Date:yyyyMMdd)$(Rev:.r)

variables:
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: 1

jobs:
  - job: medicines
    displayName: Build Medicines
    pool:
      vmImage: ubuntu-18.04
    steps:
      - script: |
          export CARGO_HOME="$HOME/.cargo"
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly
          rustup toolchain list
          rustc -Vv
          cargo -V
          echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
        displayName: Install nightly Rust
      - script: |
          cargo test -v
        workingDirectory: $(Build.SourcesDirectory)/medicines
        displayName: Run tests
      - script: |
          yarn && yarn build && yarn global add pa11y && pa11y dist/index.html
        workingDirectory: $(Build.SourcesDirectory)/medicines/web
        displayName: Build web
