* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
}

picture {
  display: block;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
