:root {
  /* colors */
  --black: #000;
  --white: #fff;
  --mhra-blue: rgb(15, 18, 144);
  --mhra-blue-90: rgba(15, 18, 144, 0.9);
  --mhra-yellow: rgb(252, 217, 0);
  --mhra-gray: rgb(154, 155, 156);
  --mhra-gray-30: rgba(154, 155, 156, 0.3);

  --primary-color: var(--mhra-blue);

  /* dimensions */
  --base-font-size: 16px;
  --base-space: calc(var(--base-font-size) * 1.25);

  /* Font */
  --primary-font: Arial;
  --primary-font-color: var(--mhra-gray);
}
