header {
  border-bottom: 4px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: var(--base-space);
}

header h1 {
  margin: 0;
}

header picture {
  max-width: 300px;
  width: 100%;
}
