main {
  max-width: 75%;
  padding: var(--base-space);
  padding-left: calc(var(--base-space) / 2);
}

.index-of-substances h3 {
  color: var(--primary-color);
}

.index-of-substances ul {
  padding: var(--base-space);
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--mhra-blue-90);
}

.index-of-substances a {
  color: var(--mhra-gray);
}

.index-of-substances a:visited {
  color: var(--primary-color);
}

.list-of-substances ul {
  list-style: none;
  padding: 0;
}

.list-of-substances li {
  border-bottom: 1px solid var(--mhra-blue-90);
  padding: var(--base-space) 0;
}

.list-of-substances a {
  color: var(--primary-color);
}

.aside-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 100%;
  }

  .aside-mobile {
    display: block;
    grid-row: 4/5;
    grid-column: 1/ 12;
  }

  .aside-mobile .pdf,
  .aside-mobile .yellow-card {
    display: block;
  }
}
