[package]
name = "doc_index_updater"
version = "0.1.0"
authors = ["Stuart Harris <stuart.harris@red-badger.com>", "Robin James Kerrison <robinjames.kerrison@red-badger.com>", "Matt Doughty <matt.doughty@red-badger.com>", "Pedro Martin <pedro.martin@red-badger.com>", "Craig Anderson <craig.anderson@red-badger.com>"]
edition = "2018"

[dependencies]
anyhow = "1.0.26"
async-trait = "0.1.24"
azure_sdk_core = { git = "https://github.com/MindFlavor/AzureSDKForRust", branch = "master" }
azure_sdk_service_bus = { git = "https://github.com/MindFlavor/AzureSDKForRust", branch = "master" }
azure_sdk_storage_blob = { git = "https://github.com/MindFlavor/AzureSDKForRust", branch = "master" }
azure_sdk_storage_core = { git = "https://github.com/MindFlavor/AzureSDKForRust", branch = "master" }
chrono = "0.4.11"
base64 = "0.11.0"
futures = "0.3.4"
hyper = "0.13"
lazy_static = "1.4.0"
md5 = "0.7.0"
redis = { version = "0.15.1", features = ["tokio-rt-core"] }
regex = "1.3.1"
reqwest = { version = "0.10.4", features = ["json"] }
mhra_products_search_client = "0.0.2-rc1"
serde = "1.0.105"
serde_derive = "1.0.105"
serde_json = "1.0"
sha1 = "0.6.0"
ssh2 = "0.8.0"
thiserror = "1.0.11"
time = "0.1"
tokio = { version = "0.2", features = ["macros", "time"] }
tracing = { version = "0.1", features = ["attributes"] }
tracing-futures = "0.2.3"
tracing-log = "0.1.1"
tracing-subscriber = "0.2.3"
uuid = { version = "0.8", features = ["serde", "v4"] }
warp = { git = "https://github.com/m-doughty/warp", branch = "add-xml-support" }

[dev-dependencies]
test-case = "1.0.0"
tokio-test = "0.2.0"
serde_json = "1.0.48"
net2 = "0.2.33"
serde-xml-rs = "0.4.0"
pretty_assertions = "0.6.1"
